@using AntDesign
@using DealingAdmin.Abstractions
@using DealingAdmin.Abstractions.Models
@using DealingAdmin.Components.Instruments.Forms
@using DealingAdmin.Shared.Models
@using Serilog.Core
@using SimpleTrading.Abstraction.Trading.Instruments
@using SimpleTrading.Abstraction.Trading.InstrumentsGroup
@using SimpleTrading.Abstraction.Trading.Swaps
@using SimpleTrading.Common.Abstractions.DefaultValues
@using SimpleTrading.MyNoSqlRepositories.InstrumentSourcesMaps
@using SimpleTrading.QuotesFeedRouter.Abstractions
@using static DealingAdmin.FormatUtils

@inject IInstrumentSubGroupsRepository SubGroupsRepository
@inject IInstrumentGroupsRepository GroupsRepository
@inject ITradingInstrumentsRepository InstrumentsRepository
@inject InstrumentSourcesMapsMyNoSqlRepository sourcesMapsRepository
@inject IDefaultValuesRepository defValuesRepository
@inject ILiquidityProviderReader liquidityProviderReader
@inject IDefaultLiquidityProviderWriter defLiquidityProviderWriter
@inject ISwapProfileWriter SwapProfileWriter
@inject AdminAppSettings appSettings
@inject ISnackbar snackbar 
@inject Logger logger

<PageHeader Class="mb-2 p-0" Title="Instruments">
    <PageHeaderExtra>
        <AntDesign.Button 
            OnClick="ShowNewInstrumentDialog" 
            Type="@AntDesign.ButtonType.Primary"
            Class="btn-text">New Instrument</AntDesign.Button>
    </PageHeaderExtra>
</PageHeader>
<Table DataSource="@tradingInstruments"
       TItem="TradingInstrumentViewModel"
       Loading="@isLoading"
       Bordered="@true"
       Total="0"
       HidePagination="@true"
       ScrollY="calc(100vh - 200px)"
       PageSize="999">
    <RowTemplate>
        <AntDesign.Column Title="Group"
                TData="string"
                DataIndex="GroupId"
                Sortable
                Filterable/>
        <AntDesign.Column Title="Id"
                TData="string"
                DataIndex="Id"
                Sortable>
            <p>Id: <b>@context.Id</b></p>
            <p>Name: <b>@context.Name</b></p>
        </AntDesign.Column>
        <AntDesign.Column Title="Weight"
            TData="int?"
            DataIndex="Weight"
            Sortable
            Width="80"/>
        <AntDesign.Column Title="Sub group" 
                DataIndex="SubGroupId" 
                TData="string"
                Sortable
                Filterable/>
        <AntDesign.Column Title="Base"
                DataIndex="Base" 
                TData="string"
                Sortable
                Width="80"/>
        <AntDesign.Column Title="Quote"
                DataIndex="Quote"
                TData="string"
                Sortable
                Width="80"/>
        <AntDesign.Column Title="Digits" 
                DataIndex="Digits" 
                TData="int"
                Sortable
                Width="72"/>
        <AntDesign.Column Title="Swap"
                DataIndex="SwapScheduleId"
                TData="string"
                Width="72">
            @if (String.IsNullOrEmpty(context.SwapScheduleId))
            {
                <i class="material-icons color-crimson font-18">warning_amber</i>
            }
            else
            {
                <span>@context.SwapScheduleId</span>
            }
        </AntDesign.Column>
        <AntDesign.Column Title="Liquidity Provider" 
                TData="string"
                Width="90">
            <a @onclick="()=>ShowEditLiquidityProviderDialog(context)">
                <Tag Class="@GetLiquidityProviderTagClass(@context.DefaultLiquidityProvider)">
                    @(String.IsNullOrEmpty(context.LiquidityProviderId) ? defaultLP : context.LiquidityProviderId)
                </Tag>
            </a>
        </AntDesign.Column>
        <AntDesign.Column Title="Time off"
                TData="string"
                Width="220">
            @foreach(var item in context.DaysOff)
            {
                <p>@(FormatUtils.GetDayOffText(item))</p>
            }
        </AntDesign.Column>
        <AntDesign.Column Title="On/Off"
                TData="bool"
                Field="@context.TradingDisabled"
                Sortable
                Width="72">
            <AntDesign.Button
                Class="@GetTradingDisableColor(context.TradingDisabled)"
                OnClick="()=>ShowTradingDisableDialog(context)"
                Shape="@ButtonShape.Circle"
                Icon="@IconType.Outline.Poweroff"/>
        </AntDesign.Column>
        <AntDesign.Column Title="Timeout"
                TData="string" 
                Width="120">
            Night:<Tag PresetColor="PresetColor.Purple">@context.NightTimeout</Tag>
            Day:<Tag PresetColor="PresetColor.GeekBlue">@context.DayTimeout</Tag>
        </AntDesign.Column>        
        <ActionColumn Title="Edit" Width="60">
                <a><i @onclick="()=>ShowEditInstrumentDialog(context)"
                    class="material-icons color-primary">edit</i></a>
        </ActionColumn>
    </RowTemplate>
</Table>
   
<Modal Title="@instrumentEditFormTitle"
       Visible="@isEditInstrumentDialogVisible"
       Closable=@false
       OkText="@("Save")"
       OnOk="()=>SaveInstrument()"
       OnCancel="()=>CloseEditInstrumentDialog()"
       Width="900">
    <TradingInstrumentEditForm @ref="editForm"
        Instrument="editedInstrument"
        InstrumentGroups="instrumentGroups" 
        SubGroups="instrumentSubGroups"
        SwapProfiles="swapProfiles" />   
</Modal>

<Modal Title="@instrumentEditLiquidityProviderTitle"
       Visible="@isEditLiquidityProvidertDialogVisible"
       Footer=@null
       Closable=@false
       Width="320">
    <div class="m-1">Liquidity Provider:</div>
    <Select DataSource="@liquidityProvidersViewList"
            @bind-Value="@editedLiquidityProviderId"
	        TItemValue="string"
	        TItem="ViewListItem"
            LabelName="Text"
            ValueName="Value"
            Style="width:220px"
            DropdownMaxWidth="200"/>
    <AntDesign.Row Class="center-middle py-3">
        <Col Span="4">
        </Col>    
        <Col Span="10">
            <AntDesign.Button OnClick="SaveLiquidityProvider"
                Class="btn-text bg-color-aquamarine">
                Save
            </AntDesign.Button>
        </Col>    
        <Col Span="10">
            <AntDesign.Button OnClick="CloseEditLiquidityProviderDialog"
                Class="btn-text bg-color-light-yellow">
                Cancel
            </AntDesign.Button>
        </Col>
    </AntDesign.Row>
</Modal>

<Modal Title="@tradingDisableDialogTitle"
       Visible="@isTradingDisableDialogVisible"
       OkText="@("Save")"
       OnOk="()=>SaveTradingDisable()"
       OnCancel="()=>CloseTradingDisableDialog()"
       Width="600">
    <AntDesign.Row Class="center-middle">
        <Switch @bind-Value="@isTradingDisabled"></Switch><span class="px-3">Disable Trading</span>
    </AntDesign.Row>
    <AntDesign.Row Class="center-middle">
       <span class="px-2">API Key:</span><InputPassword @bind-Value="@disableTradingApiKey" />
    </AntDesign.Row>
</Modal>

@code {
    private List<TradingInstrumentViewModel> tradingInstruments;
    private IEnumerable<InstrumentGroupModel> instrumentGroups;
    private IEnumerable<InstrumentSubGroupModel> instrumentSubGroups;
    private IEnumerable<ISwapProfile> swapProfiles;
    private List<ViewListItem> liquidityProvidersViewList;

    private bool isLoading = false;
    private TradingInstrumentViewModel editedInstrument;
    private TradingInstrumentEditForm editForm;
    private string instrumentEditFormTitle;
    private string tradingDisableDialogTitle;
    private bool isEditInstrumentDialogVisible;
    private bool isEditLiquidityProvidertDialogVisible;
    private bool isTradingDisableDialogVisible;
    private bool isTradingDisabled;
    private string disableTradingApiKey;
    private string defaultLP;
    private List<InstrumentSourcesMapsMyNoSqlTableEntity> sourcesMapsList;
    private string instrumentEditLiquidityProviderTitle;
    private string editedLiquidityProviderId;


    protected override async Task OnInitializedAsync()
    {
        instrumentSubGroups = (await SubGroupsRepository.GetAllAsync()).Select(InstrumentSubGroupModel.Create);
        instrumentGroups = (await GroupsRepository.GetAllAsync()).Select(InstrumentGroupModel.Create);
        swapProfiles = await SwapProfileWriter.GetAllAsync();
        await RefreshData();
        
        await base.OnInitializedAsync();
    }

    private async Task RefreshData()
    {
        isLoading = true;

        defaultLP = await defLiquidityProviderWriter.GetAsync();
        var liquidityProviders = await liquidityProviderReader.GetLiquidityProviders();
        liquidityProvidersViewList = new List<ViewListItem>();
        liquidityProvidersViewList.Add(new ViewListItem { Text = $"Default ({defaultLP})", Value = String.Empty });
        liquidityProviders.ForEach(item =>
            liquidityProvidersViewList.Add(new ViewListItem { Text = item, Value = item }));

        sourcesMapsList = (await sourcesMapsRepository.GetAllAsync()).ToList();
        var instruments = await InstrumentsRepository.GetAllAsync();
        tradingInstruments = new List<TradingInstrumentViewModel>();

        foreach (var inst in instruments)
        {
            var provider = GetLiquidityProviderIdForInstrument(inst.Id);

            tradingInstruments.Add(TradingInstrumentViewModel.Create(
                inst,
                provider,
                String.IsNullOrEmpty(provider)));
        }

        isLoading = false;
    }

    private string GetLiquidityProviderIdForInstrument(string instrumentId)
    {
        var overwrittenProviderId = sourcesMapsList.FirstOrDefault(x => x.InstrumentId == instrumentId)?.SourceId;

        return String.IsNullOrEmpty(overwrittenProviderId)
            ? String.Empty
            : overwrittenProviderId;
    }

    private string GetLiquidityProviderTagClass(bool isDefaultProvider)
    {
        return isDefaultProvider ? "btn-text tag-color-gray" : "btn-text tag-color-orange";
    }

    private string GetTradingDisableColor(bool isTradingDisabled)
    {
        return isTradingDisabled ? "bg-color-darkred" : "bg-color-green";
    }

    private void ShowEditLiquidityProviderDialog(TradingInstrumentViewModel lpInstrument)
    {
        editedInstrument = lpInstrument;
        editedLiquidityProviderId = lpInstrument.DefaultLiquidityProvider ? String.Empty : lpInstrument.LiquidityProviderId;
        instrumentEditLiquidityProviderTitle = $"Update Liquidity Provider for '{lpInstrument.Name}'";
        isEditLiquidityProvidertDialogVisible = true;
    }

    private async Task SaveLiquidityProvider()
    {
        try
        {
            if (editedInstrument == null || String.IsNullOrEmpty(editedInstrument.Id))
            { 
                snackbar.Add($"InstrumentId is empty. Try again. '{editedInstrument.Id}' set to default", Severity.Warning);
            }

            if (String.IsNullOrEmpty(editedLiquidityProviderId))
            {
                await sourcesMapsRepository.Delete(editedInstrument.Id);
                snackbar.Add($"Liquidity Provider for Instrument '{editedInstrument.Id}' set to default", Severity.Success);
            }
            else
            {
                await sourcesMapsRepository.UpdateAsync(new QuoteSourceModel
                    {
                        InstrumentId = editedInstrument.Id,
                        SourceId = editedLiquidityProviderId
                    });

                isEditLiquidityProvidertDialogVisible = false;
                snackbar.Add($"Liquidity Provider for Instrument '{editedInstrument.Id}' set to '{editedLiquidityProviderId}", Severity.Success);

                await RefreshData();
                StateHasChanged();
            }
        }
        catch(Exception ex)
        {
            logger.Error(ex, ex.Message);
            snackbar.Add($"Error occured: {ex.Message}", Severity.Error);
        }
    }

    private void CloseEditLiquidityProviderDialog()
    {
        isEditLiquidityProvidertDialogVisible = false;
    }

    private void ShowTradingDisableDialog(TradingInstrumentViewModel instrument)
    {
        editedInstrument = instrument;
        disableTradingApiKey = "";
        tradingDisableDialogTitle = $"Disable Trading for '{instrument.Name}'";
        isTradingDisableDialogVisible = true;
    }

    private async Task SaveTradingDisable()
    {
        try
        {
            if (editedInstrument == null || String.IsNullOrEmpty(editedInstrument.Id))
            { 
                snackbar.Add($"InstrumentId is empty. Try again.", Severity.Warning);
            }

            if (disableTradingApiKey != appSettings.AdminCrudApiKey)
            {
                snackbar.Add($"API Key is not valid", Severity.Error);
                return;
            }

            editedInstrument.TradingDisabled = isTradingDisabled;
            await InstrumentsRepository.UpdateAsync(editedInstrument);
            snackbar.Add($"Trading setting for Instrument '{editedInstrument.Id}' updated", Severity.Success);
            CloseTradingDisableDialog();
            await RefreshData();
        }
        catch(Exception ex)
        {
            logger.Error(ex, ex.Message);
            snackbar.Add($"Error occured: {ex.Message}", Severity.Error);
        }
    }

    private void CloseTradingDisableDialog()
    {
        isTradingDisableDialogVisible = false;
        disableTradingApiKey = "";
        editedInstrument = null;
    }

    private void ShowNewInstrumentDialog()
    {
        instrumentEditFormTitle = "Add New Instrument";
        editedInstrument = new TradingInstrumentViewModel()
            {
                LiquidityProviderId = defaultLP,
                DefaultLiquidityProvider = true,
                DaysOff = new List<TradingInstrumentDayOffModel>()
            };
        isEditInstrumentDialogVisible = true;
    }

    private void ShowEditInstrumentDialog(TradingInstrumentViewModel instr)
    {
        editedInstrument = instr;
        instrumentEditFormTitle = $"Edit Instrument '{instr.Name}'";
        isEditInstrumentDialogVisible = true;
    }

    private void CloseEditInstrumentDialog()
    {
        isEditInstrumentDialogVisible = false;
        // editedInstrument = null;
    }

    private async void SaveInstrument()
    {
        try
        {
            var isFormValid = editForm.ValidateEditForm();

            if (!isFormValid)
            {
                snackbar.Add($"Edit Form for '{editedInstrument.Id}' is not valid", Severity.Warning);
                return;
            }

            await InstrumentsRepository.UpdateAsync(editedInstrument);
            isEditInstrumentDialogVisible = false;
            snackbar.Add($"Instrument '{editedInstrument.Id}' saved", Severity.Success);
            await RefreshData();
            CloseEditInstrumentDialog();
        }
        catch(Exception ex)
        {
            logger.Error(ex, ex.Message);
            snackbar.Add($"Error occured: {ex.Message}", Severity.Error);
        }
    }
}